# Dependencies
node_modules
npm-debug.log

# Build output
dist

# Version control
.git
.gitignore

# Environment files
.env
.env.local
.env.*.local

# Editor directories
.idea
.vscode

# System files
.DS_Store
Thumbs.db